# World Bank Ed Stats Model Building

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#Open and read the CSV file to a Dataframe
data = pd.read_csv('EdStatsData.csv')
ind_codes = data['Indicator Code'].unique().tolist()
ind_names = data['Indicator Name'].unique().tolist()
indicator_dict = {k:v for (k,v) in zip(ind_codes, ind_names)}
#data.dropna(axis=1, thresh=75000, inplace=True)

In [2]:
data.drop(['Country Code', 'Indicator Name'], axis=1, inplace=True)
data.head()

,Country Name,Indicator Code,1970,1971,1972,1973,1974,1975,1976,1977,...,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
0,Arab World,UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.36554,60.999962,61.92268,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#data.dropna(axis=0, thresh=10, inplace=True)

In [4]:
regions = ['Arab World', 'East Asia & Pacific', 'East Asia & Pacific (excluding high income)', 'Euro area', 'Europe & Central Asia', 
 'Europe & Central Asia (excluding high income)', 'European Union', 'Latin America & Caribbean', 'Latin America & Caribbean (excluding high income)', 
  'Middle East & North Africa', 'Middle East & North Africa (excluding high income)', 'Middle income', 'North America', 'South Asia', 
           'Sub-Saharan Africa', 'Sub-Saharan Africa (excluding high income)', 'OECD members', 'World']

income_levels = ['Heavily indebted poor countries (HIPC)', 'High income', 'Least developed countries: UN classification', 'Low & middle income', 
 'Low income', 'Lower middle income', 'Upper middle income']

reg_df = data[data['Country Name'].isin(regions)]

inc_df = data[data['Country Name'].isin(income_levels)]

cntry_df = data[~data['Country Name'].isin(regions)]
cntry_df = cntry_df[~cntry_df['Country Name'].isin(income_levels)]

del data

cntry_df.head()

,Country Name,Indicator Code,1970,1971,1972,1973,1974,1975,1976,1977,...,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
91625,Afghanistan,UIS.NERA.2,NaN,NaN,NaN,NaN,7.05911,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91626,Afghanistan,UIS.NERA.2.F,NaN,NaN,NaN,NaN,2.53138,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91627,Afghanistan,UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,0.22154,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91628,Afghanistan,UIS.NERA.2.M,NaN,NaN,NaN,NaN,11.42652,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91629,Afghanistan,SE.PRM.TENR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
cntry_df.set_index(['Country Name', 'Indicator Code'], inplace=True)

In [6]:
df_t = cntry_df.transpose()

In [7]:
df_t = df_t.stack('Country Name')
df_t.head()

Indicator Code       BAR.NOED.1519.FE.ZS  BAR.NOED.1519.ZS  \
     Country Name
1970 Afghanistan                   91.44             77.08
     Albania                       26.56             21.70
     Algeria                       69.70             52.90
     American Samoa                  NaN               NaN
     Andorra                         NaN               NaN

Indicator Code       BAR.NOED.15UP.FE.ZS  BAR.NOED.15UP.ZS  \
     Country Name
1970 Afghanistan                   97.21             88.81
     Albania                       41.88             37.92
     Algeria                       87.39             73.64
     American Samoa                  NaN               NaN
     Andorra                         NaN               NaN

Indicator Code       BAR.NOED.2024.FE.ZS  BAR.NOED.2024.ZS  \
     Country Name
1970 Afghanistan                    94.8             78.40
     Albania                        28.2             28.38
     Algeria                        69.7             52.90
     American Samoa                  NaN               NaN
     Andorra                         NaN               NaN

Indicator Code       BAR.NOED.2529.FE.ZS  BAR.NOED.2529.ZS  \
     Country Name
1970 Afghanistan                   98.60             91.09
     Albania                       31.77             28.91
     Algeria                       91.50             77.30
     American Samoa                  NaN               NaN
     Andorra                         NaN               NaN

Indicator Code       BAR.NOED.25UP.FE.ZS  BAR.NOED.25UP.ZS  ...  \
     Country Name                                           ...
1970 Afghanistan                   99.25             94.22  ...
     Albania                       48.28             43.80  ...
     Algeria                       95.90             84.40  ...
     American Samoa                  NaN               NaN  ...
     Andorra                         NaN               NaN  ...

Indicator Code       UIS.XUNIT.US.4.FSGOV  UIS.XUNIT.US.56.FSGOV  \
     Country Name
1970 Afghanistan                      NaN                    NaN
     Albania                          NaN                    NaN
     Algeria                          NaN                    NaN
     American Samoa                   NaN                    NaN
     Andorra                          NaN                    NaN

Indicator Code       UIS.XUNIT.USCONST.1.FSGOV  UIS.XUNIT.USCONST.2.FSGOV  \
     Country Name
1970 Afghanistan                           NaN                        NaN
     Albania                               NaN                        NaN
     Algeria                               NaN                        NaN
     American Samoa                        NaN                        NaN
     Andorra                               NaN                        NaN

Indicator Code       UIS.XUNIT.USCONST.23.FSGOV  UIS.XUNIT.USCONST.3.FSGOV  \
     Country Name
1970 Afghanistan                            NaN                        NaN
     Albania                                NaN                        NaN
     Algeria                                NaN                        NaN
     American Samoa                         NaN                        NaN
     Andorra                                NaN                        NaN

Indicator Code       UIS.XUNIT.USCONST.4.FSGOV  UIS.XUNIT.USCONST.56.FSGOV  \
     Country Name
1970 Afghanistan                           NaN                         NaN
     Albania                               NaN                         NaN
     Algeria                               NaN                         NaN
     American Samoa                        NaN                         NaN
     Andorra                               NaN                         NaN

Indicator Code       XGDP.23.FSGOV.FDINSTADM.FFD  XGDP.56.FSGOV.FDINSTADM.FFD
     Country Name
1970 Afghanistan                             NaN                          NaN
     Albania                                 NaN                          NaN
     Algeria                                 NaN                          NaN
     American Samoa                          NaN                          NaN
     Andorra                                 NaN                          NaN

[5 rows x 3665 columns]

In [8]:
df_t = df_t.unstack(0).stack()
df_t.head()

Indicator Code     BAR.NOED.1519.FE.ZS  BAR.NOED.1519.ZS  BAR.NOED.15UP.FE.ZS  \
Country Name
Afghanistan  1970                91.44             77.08                97.21
             1971                  NaN               NaN                  NaN
             1972                  NaN               NaN                  NaN
             1973                  NaN               NaN                  NaN
             1974                  NaN               NaN                  NaN

Indicator Code     BAR.NOED.15UP.ZS  BAR.NOED.2024.FE.ZS  BAR.NOED.2024.ZS  \
Country Name
Afghanistan  1970             88.81                 94.8              78.4
             1971               NaN                  NaN               NaN
             1972               NaN                  NaN               NaN
             1973               NaN                  NaN               NaN
             1974               NaN                  NaN               NaN

Indicator Code     BAR.NOED.2529.FE.ZS  BAR.NOED.2529.ZS  BAR.NOED.25UP.FE.ZS  \
Country Name
Afghanistan  1970                 98.6             91.09                99.25
             1971                  NaN               NaN                  NaN
             1972                  NaN               NaN                  NaN
             1973                  NaN               NaN                  NaN
             1974                  NaN               NaN                  NaN

Indicator Code     BAR.NOED.25UP.ZS  ...  UIS.XUNIT.US.4.FSGOV  \
Country Name                         ...
Afghanistan  1970             94.22  ...                   NaN
             1971               NaN  ...                   NaN
             1972               NaN  ...                   NaN
             1973               NaN  ...                   NaN
             1974               NaN  ...                   NaN

Indicator Code     UIS.XUNIT.US.56.FSGOV  UIS.XUNIT.USCONST.1.FSGOV  \
Country Name
Afghanistan  1970                    NaN                        NaN
             1971                    NaN                        NaN
             1972                    NaN                        NaN
             1973                    NaN                        NaN
             1974                    NaN                        NaN

Indicator Code     UIS.XUNIT.USCONST.2.FSGOV  UIS.XUNIT.USCONST.23.FSGOV  \
Country Name
Afghanistan  1970                        NaN                         NaN
             1971                        NaN                         NaN
             1972                        NaN                         NaN
             1973                        NaN                         NaN
             1974                        NaN                         NaN

Indicator Code     UIS.XUNIT.USCONST.3.FSGOV  UIS.XUNIT.USCONST.4.FSGOV  \
Country Name
Afghanistan  1970                        NaN                        NaN
             1971                        NaN                        NaN
             1972                        NaN                        NaN
             1973                        NaN                        NaN
             1974                        NaN                        NaN

Indicator Code     UIS.XUNIT.USCONST.56.FSGOV  XGDP.23.FSGOV.FDINSTADM.FFD  \
Country Name
Afghanistan  1970                         NaN                          NaN
             1971                         NaN                          NaN
             1972                         NaN                          NaN
             1973                         NaN                          NaN
             1974                         NaN                          NaN

Indicator Code     XGDP.56.FSGOV.FDINSTADM.FFD
Country Name
Afghanistan  1970                          NaN
             1971                          NaN
             1972                          NaN
             1973                          NaN
             1974                          NaN

[5 rows x 3665 columns]

In [9]:
idx = df_t.columns.str.split('.', 1, expand=True)
#df_t.columns = idx
#idx = pd.MultiIndex.from_product([idx.levels[0], idx.levels[1]])

In [10]:
igroup_df = df_t.reindex(columns=idx)

In [11]:
igroup_df.head()

                              BAR                                            \
                  NOED.1519.FE.ZS NOED.1519.ZS NOED.15UP.FE.ZS NOED.15UP.ZS
Country Name
Afghanistan  1970             NaN          NaN             NaN          NaN
             1971             NaN          NaN             NaN          NaN
             1972             NaN          NaN             NaN          NaN
             1973             NaN          NaN             NaN          NaN
             1974             NaN          NaN             NaN          NaN

                                                                             \
                  NOED.2024.FE.ZS NOED.2024.ZS NOED.2529.FE.ZS NOED.2529.ZS
Country Name
Afghanistan  1970             NaN          NaN             NaN          NaN
             1971             NaN          NaN             NaN          NaN
             1972             NaN          NaN             NaN          NaN
             1973             NaN          NaN             NaN          NaN
             1974             NaN          NaN             NaN          NaN

                                                ...              UIS  \
                  NOED.25UP.FE.ZS NOED.25UP.ZS  ... XUNIT.US.4.FSGOV
Country Name                                    ...
Afghanistan  1970             NaN          NaN  ...              NaN
             1971             NaN          NaN  ...              NaN
             1972             NaN          NaN  ...              NaN
             1973             NaN          NaN  ...              NaN
             1974             NaN          NaN  ...              NaN

                                                           \
                  XUNIT.US.56.FSGOV XUNIT.USCONST.1.FSGOV
Country Name
Afghanistan  1970               NaN                   NaN
             1971               NaN                   NaN
             1972               NaN                   NaN
             1973               NaN                   NaN
             1974               NaN                   NaN

                                                                \
                  XUNIT.USCONST.2.FSGOV XUNIT.USCONST.23.FSGOV
Country Name
Afghanistan  1970                   NaN                    NaN
             1971                   NaN                    NaN
             1972                   NaN                    NaN
             1973                   NaN                    NaN
             1974                   NaN                    NaN

                                                               \
                  XUNIT.USCONST.3.FSGOV XUNIT.USCONST.4.FSGOV
Country Name
Afghanistan  1970                   NaN                   NaN
             1971                   NaN                   NaN
             1972                   NaN                   NaN
             1973                   NaN                   NaN
             1974                   NaN                   NaN

                                                           XGDP  \
                  XUNIT.USCONST.56.FSGOV 23.FSGOV.FDINSTADM.FFD
Country Name
Afghanistan  1970                    NaN                    NaN
             1971                    NaN                    NaN
             1972                    NaN                    NaN
             1973                    NaN                    NaN
             1974                    NaN                    NaN


                  56.FSGOV.FDINSTADM.FFD
Country Name
Afghanistan  1970                    NaN
             1971                    NaN
             1972                    NaN
             1973                    NaN
             1974                    NaN

[5 rows x 3665 columns]

In [12]:
#pd.options.display.max_rows = None
igroup_df.isna().sum()

BAR   NOED.1519.FE.ZS            12997
      NOED.1519.ZS               12997
      NOED.15UP.FE.ZS            12997
      NOED.15UP.ZS               12997
      NOED.2024.FE.ZS            12997
      NOED.2024.ZS               12997
      NOED.2529.FE.ZS            12997
      NOED.2529.ZS               12997
      NOED.25UP.FE.ZS            12997
      NOED.25UP.ZS               12997
      NOED.3034.FE.ZS            12997
      NOED.3034.ZS               12997
      NOED.3539.FE.ZS            12997
      NOED.3539.ZS               12997
      NOED.4044.FE.ZS            12997
      NOED.4044.ZS               12997
      NOED.4549.FE.ZS            12997
      NOED.4549.ZS               12997
      NOED.5054.FE.ZS            12997
      NOED.5054.ZS               12997
      NOED.5559.FE.ZS            12997
      NOED.5559.ZS               12997
      NOED.6064.FE.ZS            12997
      NOED.6064.ZS               12997
      NOED.6569.FE.ZS            12997
      NOED.6569.ZS               12997
      NOED.7074.FE.ZS            12997
      NOED.7074.ZS               12997
      NOED.75UP.FE.ZS            12997
      NOED.75UP.ZS               12997
                                 ...
UIS   XSPENDP.FDPUB.FNS          12997
      XUNIT.GDPCAP.2.FSGOV       12997
      XUNIT.GDPCAP.3.FSGOV       12997
      XUNIT.GDPCAP.4.FSGOV       12997
      XUNIT.PPP.1.FSGOV          12997
      XUNIT.PPP.2.FSGOV          12997
      XUNIT.PPP.23.FSGOV         12997
      XUNIT.PPP.3.FSGOV          12997
      XUNIT.PPP.4.FSGOV          12997
      XUNIT.PPP.56.FSGOV         12997
      XUNIT.PPPCONST.1.FSGOV     12997
      XUNIT.PPPCONST.2.FSGOV     12997
      XUNIT.PPPCONST.23.FSGOV    12997
      XUNIT.PPPCONST.3.FSGOV     12997
      XUNIT.PPPCONST.4.FSGOV     12997
      XUNIT.PPPCONST.56.FSGOV    12997
      XUNIT.US.1.FSGOV           12997
      XUNIT.US.2.FSGOV           12997
      XUNIT.US.23.FSGOV          12997
      XUNIT.US.3.FSGOV           12997
      XUNIT.US.4.FSGOV           12997
      XUNIT.US.56.FSGOV          12997
      XUNIT.USCONST.1.FSGOV      12997
      XUNIT.USCONST.2.FSGOV      12997
      XUNIT.USCONST.23.FSGOV     12997
      XUNIT.USCONST.3.FSGOV      12997
      XUNIT.USCONST.4.FSGOV      12997
      XUNIT.USCONST.56.FSGOV     12997
XGDP  23.FSGOV.FDINSTADM.FFD     12997
      56.FSGOV.FDINSTADM.FFD     12997
Length: 3665, dtype: int64

In [ ]:
def missingness_percentage(df):
    missingness_dict = {}
    for key in df.columns:
        l = df[key].size
        missingness_dict[key] = df[key].isna().sum() / l
    return missingness_dict

In [ ]:
cntry_miss = missingness_percentage(igroup_df)

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [ ]:
sklearn_pca = PCA(n_components=10)
Y_sklearn = sklearn_pca.fit_transform(df_t)

print(
    'The percentage of total variance in the dataset explained by each',
    'component from Sklearn PCA.\n',
    sklearn_pca.explained_variance_ratio_)